= label :product, :name, 'Product Name'
= text_field :product, 'name'
%br
= label :product, :description, 'Product Description'
= text_field :product, 'description'
%br
= label :product, :target, 'Target Number for Sale'
= number_field :product, 'target'
%br
= label :product, :price, 'Price'
= number_field(:product, :price, step: 0.01)
%br
= label :product, :end, 'Expiration Date'
= date_select :product, :end
%br
