#main
    %h3 Welcome! Below are some hot products!
    %table.newly_listed
        %caption Newly Listed!
        %th Product
        %th Listed On
        %th Price
        - @new.each do |product|
            %tr.product
                %td.name= link_to "#{product.name}", product 
                %td.timecreated= listed_on(product.start)
                %td.price= number_to_currency(product.price)
        
    %table.close_to_target
        %caption Close To Target!
        %th Product
        %th % of Target
        %th Price
        - @almost.each do |product|
            %tr.product
                %td.name= link_to "#{product.name}", product
                %td.percent= (product.pledge_count/product.target.to_f).round(3)*100
                %td.price= number_to_currency(product.price)

    %table.ending_soon
        %caption Ending Soon!
        %th Product
        %th Time left
        %th Price
        -@expiring.each do |product|
            %tr.product
                %td.name= link_to "#{product.name}", product 
                %td.timeleft= "#{time_left(product.ending)}"
                %td.price= number_to_currency(product.price)
                
=link_to "Create New Product", new_product_path

