#main
  %h3 #{@product.name}
  %h2 Listing Expires: #{@product.end}
  %h2 Time Left:
  %table.products_table
    %tr.products_header
      %th Pledges Made So Far
      %th Target Number
      %th Price
    %tr.product_info
      %td= @product.pledges
      %td= @product.target
      %td= number_to_currency(@product.price)

  %h2 Product Description
  %h4= @product.description

