#main
  %h3 #{@product.name}
  %h5 Listing Expires: #{@product.end}
  %h5 Time Left: #{(DateTime.parse(@product.end) - DateTime.now)}
  %table.products_table
    %tr.products_header
      %th Pledges Made So Far
      %th Target Number
      %th Price
    %tr.product_info
      %td= @product.pledges
      %td= @product.target
      %td= number_to_currency(@product.price)

  %h2 Product Description
  %h1= @product.description

