#main
  %h3 #{@product.name}
  -end_date = DateTime.parse(@product.end)
  %h5 Listing Expires: #{end_date.strftime("%A %B %e, %Y at %l:%M %p")}
  %h5 Time Left:
  %table.centered_table
    %tr.products_header
      %th Pledges Made So Far
      %th Target Number
      %th Price
    %tr.product_info
      %td= @product.pledges
      %td= @product.target
      %td= number_to_currency(@product.price)

  = form_tag "/products/#{@product.id}/confirm_pledge" do
    = label_tag 'Place an order'
    = number_field_tag 'pledges', 0, in: 1...(1 + @product.target - @product.pledges) 
    = submit_tag 'Pledge!'

  %h2 Product Description
  %h1= @product.description

= link_to "Back to Homepage", products_path
