#main
  %h3 #{@product.name}
  %h5 Listing Expires: #{listing_expires(@product.ending)}
  %h5 Time Left: #{time_left(@product.ending)} 
  %table.centered_table
    %tr.products_header
      %th Pledges Made So Far
      %th Target Number
      %th Price
    %tr.product_info
      %td= @product.pledge_count
      %td= @product.target
      %td= number_to_currency(@product.price)
  
  - if @product.pledge_count != @product.target 
    = form_tag "/products/#{@product.id}/confirm" do
      = label_tag 'Place an order'
      = number_field_tag 'pledges', 0, in: 1...(1 + @product.target - @product.pledge_count) 
      = submit_tag 'Pledge!'
  - else
    %h5 This product has been fully pledged!

  %h2 Product Description
  %h1= @product.description

.right= link_to "Back to Homepage", products_path
