!!! 8
%html
  %head
  .search_box
    = form_tag(search_url, :method => "get") do
      =text_field_tag :search, params[:search], placeholder: "Search"#,  "Search Products"
      =submit_tag "Search", :name => nil

  .user_name
    = "Welcome, "
    - if current_user.present? 
      = link_to "#{current_user.first_name}!", users_path
    - else
      = "Guest!"

    %meta{ charset: 'utf-8' }
    %title GroupBuy!
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  
  %body
    #header
      %h4 GroupBuy!
      -# link_to "GroupBuy!", products_path      
      - if flash.notice
        .notice= flash.notice
      - if flash.alert
        .notice.alert= flash.alert
    
    - if !user_signed_in?
      %caption= link_to "Login", new_user_session_path
      %caption or
      %caption= link_to "Register", new_user_registration_path
    - else
      %caption= link_to "Sign Out", destroy_user_session_path, method: "delete"
      %caption or
      %caption= link_to "Edit User Account", edit_user_registration_path

	
    = yield

